@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: whitesmoke;
}

.text-height {
  line-height: 1.8;
}

.beforeClass {
  position: relative;
}
.beforeClass::before {
  position: absolute;
  content: attr(data-Id);
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  bottom: 50%;
  left: 0%;
}
.anotherClass::before {
  bottom: 68%;
}
