@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: whitesmoke;
}

.text-height {
  line-height: 1.8;
}

.beforeClass {
  position: relative;
}
.beforeClass::before {
  position: absolute;
  content: attr(data-Id);
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  bottom: 125%;
  left: 0%;
}
.anotherClass::before {
  bottom: 120%;
}
@media (max-width: 768px) {
  .beforeClass::before {
    bottom: 6%;
  }
  .anotherClass::before {
    bottom: 45%;
  }
}

@media (max-width: 660px) {
  .beforeClass::before {
    bottom: 16%;
  }
  .anotherClass::before {
    bottom: 45%;
  }
}

@media (max-width: 560px) {
  .beforeClass::before {
    bottom: 60%;
  }
}

@media (max-width: 350px) {
  .anotherClass::before {
    bottom: 75%;
  }
}
